 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

:root{
--text-color: white;
--heart-color: red;
--bg-url: url(./assets/bg-mobile.jpg);
}

body {
    background: var(--bg-url) no-repeat top center/cover;
}

body *{
color: var(--text-color);
font-family: 'Ysabeau SC', sans-serif;
}

#container {
  width: 100%;
  max-width: 588px;
  border: 1px solid red;
  margin: 56px auto 0px;
  padding: 0 24px;
}

/*profile*/

#profile {
  text-align: center;
  padding: 24px;
}

#profile img    {
  width: 112px;
  border-radius: 50%;
}

#profile p {
  font-weight: 500;
  line-height: 30px;
}

  /*efeito coração */

.heart {
    color: var(--heart-color);
    font-size: 20px;
    animation: heart-animation 2s infinite alternate;
    
}

@keyframes heart-animation {
     0% {
    font-size: 20px;
    }
    50% {
     font-size: 30px;
    }
    100% {
     font-size: 20px;
    }
}